<div>
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='cq.social.bootstrap.3'}"/>
    <form action="#" onsubmit="alert(this.getAttribute('name'));" name="${resource.name}">
  <fieldset>
    <legend>Personal Info:</legend>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" value="John"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

        </div>